[Desktop Entry]
Name=photoname
Exec=photoname
Icon=unix-terminal
Type=Application
Categories=Graphics;Utility;Photography;FileTools;ConsoleOnly;
Terminal=true
