[Desktop Entry]
Name=photoname
Exec=photoname
Icon=photoname
Type=Application
Categories=Graphics;Utility;Photography;FileTools;ConsoleOnly;
Terminal=true
